# Linux users can copy this file into /etc/udev/rules.d/ to prevent
# ModemManager from taking over the virtual serial port of the A-Star
# 32U4.

ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="0101", SYMLINK+="astar"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="2300", SYMLINK+="astar"
