# Linux users can copy this file into /etc/udev/rules.d/ to prevent
# ModemManager from taking over the virtual serial port of the PixHawk
# 

ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="26ac", ATTRS{idProduct}=="0011", SYMLINK+="pixhawk"
