<launch>
  <!-- The video file to stream -->
  <arg name="file" />
  <!-- The frame rate-->
  <arg name="fps" default="15" />
  <!-- The starting video frame number" -->
  <arg name="start_frame" default="1" />
  <!-- If True, single-step through video -->
  <arg name="single_frame" default="False" />
  <!-- The video frame ID -->
  <arg name="frame_id" default="camera" />
  <arg name="bin_config" default="$(find robo_magellan)/config/realsense-bins-0_6.json" />

  <node name="video_publish" pkg="robo_magellan" type="video_publish"
        output="screen">
    <param name="~single_frame" value="$(arg single_frame)" />
    <param name="~start_frame" value="$(arg start_frame)" />
    <param name="~fps" value="$(arg fps)" />
    <param name="~video_source" value="$(arg file)" />
    <param name="~frame_id" value="$(arg frame_id)" />
  </node>

  <node name="cone_finder" pkg="robo_magellan" type="detect_cones.py"
        output="screen">
    <rosparam command="load" file="$(find robo_magellan)/launch/cone_finder.yaml" />
    <param name="~captureVideo" value="false" />
    <param name="~publishImages" value="true" />
    <param name="~ignorePriorDetections" value="true" />

    <param name="~show_all_contours" value="true" />

    <!-- Use a very small cone area since we area filtering
         in the navigator. -->
    <param name="~minConeArea" value="75" />

    <!-- Reject cone detections below this aspect ratio. -->
    <param name="~min_aspect_ratio" value="1.0" />

    <!-- Reject cone contours with more than this number of vertices. -->
    <param name="~max_contour_vertices" value="1000000" />

    <!-- Require cones to be below the horizon. -->
    <param name="~max_y" value="10000" />

    <!-- Use 'bin' for new binning algorithm, 'hsv' for hue-based algorithm. -->
    <param name="~thresholdAlgorithm" value="bin" />
    <param name="~binConfig" value="$(arg bin_config)" />

    <!-- Use 'convexHull', 'relaxed' or 'huMoments' for filter algorithm. -->
    <param name="~contourFilterAlgorithm" value="relaxed" />

    <remap from="/camera/color/image_raw" to="/color/image_raw" />
  </node>

  <node name="image_view" pkg="image_view" type="image_view" args="image:=/cone_finder/colorImage" output="screen" />
</launch>
