<?xml version="1.0" encoding="UTF-8" ?>
<launch xmlns:xacro="http://www.ros.org/wiki/xacro">

  <arg name="log_output" default="screen" />
  <arg name="view_mission" default="true" />
  <arg name="start_rviz" default="false" />
  <arg name="detect_cones" default="true" />
  <arg name="cone_detection_patterns" default="[]" />

  <include file="$(find mavros)/launch/apm.launch">
    <!-- this must match the UP port-baud rate connected to Pixhawk -->
    <arg name="fcu_url" value="udp://127.0.0.1:14550@14551" />
    <arg name="log_output" value="$(arg log_output)" />
  </include>

  <node name="navigator" pkg="robo_magellan" type="navigator"
        output="$(arg log_output)">
    <rosparam file="$(find robo_magellan)/config/navigator-mock.yaml" />
    <remap from="~waypoints/local" to="/robo_magellan/waypoints/local" />
    <remap from="~waypoints/update" to="/robo_magellan/waypoints/update" />
    <remap from="~cone_locations" to="/cone_finder/locations" />
    <remap from="~touch" to="/touch" />
    <remap from="~exec_cmd" to="/exec_cmd_simple" />
  </node>

  <node name="mock_cone_detector" pkg="robo_magellan"
        type="mock_cone_detector" output="$(arg log_output)">
    <param name="~detect_cones" value="$(arg detect_cones)" />
    <param name="~cone_detection_patterns"
           value="$(arg cone_detection_patterns)" />
    <remap from="~waypoints/local" to="/robo_magellan/waypoints/local" />
    <remap from="~cone_locations" to="/cone_finder/locations" />
  </node>

  <node name="mock_touch_detector" pkg="robo_magellan"
        type="mock_touch_detector" output="$(arg log_output)">
    <param name="~detection_distance" value="0.1" />
    <remap from="~touch" to="/touch" />
    <remap from="~waypoints/local" to="/robo_magellan/waypoints/local" />
  </node>

  <include file="$(find robo_magellan)/launch/utm_transform.launch" />

  <group if="$(arg view_mission)">
    <include file="$(find robo_magellan)/launch/view_mission.launch">
      <arg name="start_rviz" value="$(arg start_rviz)" />
    </include>
  </group>

</launch>
