<?xml version="1.0" encoding="UTF-8" ?>
<launch xmlns:xacro="http://www.ros.org/wiki/xacro">

  <arg name="log_output" default="screen" />
  <arg name="view_mission" default="false" />
  <arg name="start_rviz" default="false" />

  <!-- Competition launch file for RoboMagellan
       Parameters:
         vid: display video debug
       Example:
         roslaunch robo_magellan exec.launch vid:=true
         Remember to use -X if you are using ssh
        vs
         roslaunch robo_magellan exec.launch
        
  -->

  <!-- Start mavros only if installed.
       Permits use on machine without pixhawk/mavros.
  -->
  <arg name="is_mavros" default="$(find mavros)" />
  <group if="$(eval is_mavros != '')">
    <include file="$(find mavros)/launch/apm.launch">
      <!-- this must match the UP port-baud rate connected to Pixhawk -->
      <arg name="fcu_url" value="/dev/ttyS1:115200" />
      <arg name="log_output" value="$(arg log_output)" />
    </include>
  </group>

  <arg name="vid" default="false" />
  <group if="$(arg vid)">
    <include file="$(find robo_magellan)/launch/cone_finder_video.launch" />
  </group>
  <group unless="$(arg vid)" >
    <include file="$(find robo_magellan)/launch/cone_finder.launch" />
  </group>

  <!-- Navigator and supporting nodes -->
  <node name="navigator" pkg="robo_magellan" type="navigator"
        output="$(arg log_output)">
    <rosparam file="$(find robo_magellan)/config/navigator.yaml" />
    <remap from="~waypoints/local" to="/robo_magellan/waypoints/local" />
    <remap from="~cone_locations" to="/cone_finder/locations" />
    <remap from="~touch" to="/touch" />
    <remap from="~exec_cmd" to="/exec_cmd_simple" />
  </node>

  <node name="kill_sw_mon" pkg="robo_magellan" type="kill_switch.py" />

  <node name="chatty" pkg="robo_magellan" type="chatty.py" />

  <node name="monitor" pkg="robo_magellan" type="monitor.py" />
  
  <node name="arduino_receiver" pkg="robo_magellan" type="arduino_receiver">
    <remap from="/robo_magellan/touch" to="/touch" />
  </node>

  <include file="$(find robo_magellan)/launch/utm_transform.launch" />

  <group if="$(arg view_mission)">
    <include file="$(find robo_magellan)/launch/view_mission.launch">
      <arg name="start_rviz" value="$(arg start_rviz)" />
    </include>
  </group>

</launch>
